.summery{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;
}

.owner-section-1 {
    display: flex;
}

.owner-section-1 > div {
    width: 50%;
}
.admin-section-1 {
    display: flex;
}

.admin-chart {
    width: 30%;
}

.packages-table-wrapper {
    width: 68%;
}

.chart-legends {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media (max-width: 1385px) { 
    .owner-section-1 {
        display: flex;
        flex-direction: column;
    }

    .owner-section-1 > div {
        width: 100%;
    }
    .chart {
        padding: 20px;
    }
 }
 @media (max-width: 800px) { 
    .admin-section-1 {
        display: flex;
        flex-direction: column;
    }
    .admin-chart {
        width: 100%;
        padding: 20px;
    }
    .packages-table-wrapper {
        width: 100%;
        padding: 20px;
    }

 }

@media (max-width: 900px) { 
    .summery {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .tables {
        flex-direction: column;
    }
    .tables > div{
        width: 100%;
    }

 }


@media (max-width: 650px) { 

    .chart-legends {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
 }
@media (max-width: 700px) { 
    .summery {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
 }

 @media (max-width: 520px) { 
    .chart-legends {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
 }
@media (max-width: 460px) { 
    .packages-table-wrapper > div {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    .orders-table-wrapper > div {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    .summery {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
 }