.body {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 590px;
    float: right;
    margin-top: 90px;
    margin-right: 40px;
    width: 75%;
    overflow-y: scroll;
}

@media (max-width: 1400px) { 
    .body {
        margin-right: 40px;
        width: 70%;
    }
 }
@media (max-width: 1200px) { 
    .body {
        margin-right: 30px;
        width: 65%;
    }
 }
@media (max-width: 1100px) { 
    .body {
        /* margin-inline: 50px; */
        width: 95%;
        float: left;
        margin-left: 30px;
        margin-top: 80px;
    }
    .signout-btn {
        display: none;
    }
 }
@media (max-width: 1100px) { 
    .body {
        /* margin-inline: 50px; */
        width: 98%;
        float: left;
        margin-left: 10px;
        margin-top: 60px;
    }
 }